.game-container {
  margin-inline: auto;
}

.game-hero {
  justify-content: center;
  padding-inline: 24px;
  margin-bottom: 94px;
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 13px;

  button {
    width: 73px;
    height: 73px;
    border-radius: 59px;
    border-color: transparent;
    background-color: #304859;
  }
}

.game-player-scores {
  padding-inline: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  gap: 24px;

  .p1,
  .p2,
  .p3,
  .p4 {
    border-radius: 5px;
    text-align: center;
    width: 64px;
    background-color: #dfe7ec;
    padding: 14px 10px;
    font-weight: 700;
    line-height: 100%;
    text-align: center;

    h2 {
      font-size: 15px;
      color: #7191a5;
      margin-bottom: 4px;
    }

    h1 {
      font-size: 24px;
      letter-spacing: 0px;
    }
  }
}

@media (min-width: 768px) {
  .game-container {
    max-width: 768px;
  }

  .game-hero {
    padding-inline: 118px;

    button {
      width: 118px;
      height: 118px;
    }
  }

  .game-player-scores {
    padding-inline: 39px;
    .p1-bigger,
    .p2-bigger,
    .p3-bigger,
    .p4-bigger {
      width: 164px;
      text-align: left;
      padding: 14px 103px 12px 16px;
      font-weight: 700;
      line-height: 100%;
      text-align: left;
      background-color: #dfe7ec;
      border-radius: 10px;
      h2 {
        width: 59px;
        font-weight: 700;
        font-size: 15px;
        line-height: 100%;
        color: #7191a5;
        margin-bottom: 9px;
      }

      h1 {
        font-size: 24px;
        letter-spacing: 0px;
      }
    }
  }
}
@media (min-width: 1024px) {
  .game-container {
    max-width: 1024px;
  }

  .game-header {
    padding-inline: 165px;
    margin-top: 68px;
    margin-bottom: 108px;
  }
}
